/* From uiverse.io */
@media screen and (max-width: 375px){
  .button {
    margin: 0px 3px 8px 3px;
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
  }
  
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      #796205 0%,
      #665204 8%,
      #493b04 92%,
      #b49103 100%
    );
  }
  
  .front {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    padding: 2px 13px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: rgb(47, 47, 47);
    background: #e0bc2c;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .button:hover {
    filter: brightness(110%);
  }
  
  .button:hover .front {
  transform: translateY(-6px);
  transition: transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button:hover .shadow {
    transform: translateY(4px);
    transition: transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button:focus:not(:focus-visible) {
    outline: none;
  }
}

@media screen and (min-width: 376px){
  .button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
  }
  
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      #796205 0%,
      #665204 8%,
      #493b04 92%,
      #b49103 100%
    );
  }
  
  .front {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    padding: 7px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: rgb(47, 47, 47);
    background: #e0bc2c;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .button:hover {
    filter: brightness(110%);
  }
  
  .button:hover .front {
  transform: translateY(-6px);
  transition: transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button:hover .shadow {
    transform: translateY(4px);
    transition: transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button:focus:not(:focus-visible) {
    outline: none;
  }
}
